.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  page-break-after: always;
}

.page_a4 {
  composes: page;
  width: 21cm;
  height: 29.7cm;
}

.page_a4_portrait {
  composes: page;
  width: 29.7cm;
  height: 21cm;
}

.two_columns_container {
  column-count: 2;
  column-gap: balance;
  column-gap: 0.33in;
  font-family: "Times New Roman", Times, serif;
  hyphens: none;
}
